.wildlife {
    /*padding-top: 100px;
    padding-right: 120px;
    padding-bottom: 100px;
    padding-left: 120px;*/
    padding: 18% 24%;
    /*two values first is foor top and bottom. 2nd is for left and right.
    border-width: 10px 20px;
    border-style: solid;
    border-color: #ffa949;*/
    border-top: 10px solid #ffa949;
    /*when 3 values. first one is the top. second one is left and right. third one is bottom*/
    margin: 105px 0 60px;
    background-image: url('../img/AppAcademy.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: inset 0px 0px 50px 10px rgba(0, 0, 0, .8);
    border-radius: 10px;
}

.main-header {
    height: 850px;
    padding-top: 170px;
    /*background-image: url('../img/mountains.jpg');*/
    /*background-image: linear-gradient(#ffa949, firebrick);*/
    background: linear-gradient(#ffa949, transparent 90%), linear-gradient(0deg, #fff, transparent), #ffa949 url('../img/mountain.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}